/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'open Sans', sans-serif;

}
.flex {
    display: flex;
}
.container-wdt-65,
.container-wdt-50 {
    margin: 0 auto;
}
.container-wdt-65 {
    width: 65%;
}
.container-wdt-50 {
    width: 50%;
}
.btn {
    background-color: blue;
    border: none;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 27px;
}
img {
    max-width: 100%;
    display: block;
}
li {
    list-style-type: none;
    text-decoration: none;
}
hr {
    margin: 30px 0;
    width: 20%;
}
/* Header */
header {
    background-color: #B4D0E7;
}
header a {
    text-decoration: none;
    color: black;
    line-height: 15px;
    font-size: 12px;
}
.header-top {
    min-height: 50px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}
.header-top img {
    height: 22px;
    padding-top: 5px;
}
.nav-bar-right {
    justify-content: flex-end;
}
header li {
    list-style-type: none;
    margin: 10px;
    line-height: 24px;
    font-size: 14px;    
}
.hdr-top-left,
.hdr-top-right {
    max-height: 45px;
    min-width: 30%;
}
/* Header Bottom*/
.header-bottom {
    min-height: 500px;
    margin-bottom: 50px;
}
.hdr-btm-top {
    margin: 40px 0;
}
.hdr-btm-top h1 {
    font-size: 60px;
}
.hdr-btm-left {
    height: 280px;
    width: 35%;
    position: relative;
    font-size: 12px;
}
.hdr-btm-left .btn {
    padding: 10px 10px;
    margin: 30px 0;
    font-size: 13px;
}
.hdr-btm-left .fa-solid {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 40px;
}
.hdr-btm-right {
    height: 280px;
    width: 65%;
}
.hdr-btm-right img {
    height: 350px;
}


/* Main */
main p {
    font-size: 11px;
}
main .btn {
    font-size: 11px;
    padding: 5px 10px;
    margin: 20px auto;
    width: 100%;
}
.main {
    padding-top: 60px;
}
.main-top,
.main-bottom {
    min-height: 800px;
}

/* Main Top*/
.title-main {
    min-height: 80px;
}
.imput-main {
    min-height: 20px;
    margin-bottom: 40px;
    line-height: 15px;
}
.imput-main p{
    font-size: 13px;
    margin-right: 20px;
}
.on-imput,
.imput{
    height: 15px;
    width: 15px;
    border: 1px solid gray;    
    border-radius: 50%;
    margin-right: 5px;
        
}
.on-imput {
    border: 4px solid blue;
    
}


/* Colum */
.colum-top {
    min-height: 200px;
    gap: 35px;
}
.colum-top p {
    font-size: 10px;
}
.col {
    min-height: 300px;
    width: calc(100% / 3);
    border: 1px solid lightgrey;
    border-top: 0;
    padding: 20px;
    margin-bottom: 35px;
}
.col-w100 {
    min-height: 100px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
    border-top: 0;
}
.header-col-box {
    gap: 35px;
}
.header-col,
.header-col-100 {
    min-height: 20px;
    width: calc(100% / 3);
    border: 1px solid lightgrey;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    line-height: 10px;
}
.col-w100-left {
    width: 70%;
}
.col-w100-right {
    width: 30%;
    padding-left: 20px;
}
.header-col i,
.header-col-100 i {
    margin-right: 5px;
    font-size: 12px;
}
.price {
    margin: 10px 0;
}
.duration {
    font-size: 12px;
    margin-bottom: 30px;
    color: gray;
}
.number-user,
.cloud,
.share {
    margin: 15px 0;
    line-height: 12px;
}
.col i {
    font-size: 11px;
    margin-right: 4px;
}



.col-w100 .btn {
    margin: 0;
}
/* .col */

.col li {
    line-height: 15px;
    margin: 15px 0;
    display: flex;
}
.col li i {
    line-height: 15px;
    color: blue;
}
.col-w100 h3 {
    margin-bottom: 20px;
}
.col-w100 h6 {
    margin-bottom: 40px;
}



/* Colum Bottom */
.colum-bottom {
    gap: 30px;
}
.colum-bottom h4 {
    margin-bottom: 17px;
}
.header-col-100{
    width: 100%;
}
.colum-bottom .col {
    border: 0;
    padding: 0;
    
}
.img-col {
    min-height: 120px;
}
.heading {
    padding: 20px 0;
}



/*Content*/
.content {
    min-height: 250px;
    margin: 100px 0;
}
.cont-right {
    min-height: 250px;
    width: 40%;
    padding: 35px;
}
.cont-right .btn {
    margin: 20px 0;
    width: auto;
    color: #000;
    background-color: white;
    border: 1px solid black;
}
h4 {
    margin-bottom: 12px;
}
.cont-left {
    width: 60%;
    min-height: 250px;
}

/* Clients */
.title-client {
    margin: 80px 0;
    width: 75%;
}
.title-client h1 {
    margin-bottom: 40px;
}
.title-client a {
    font-size: 11px;
}
.client-box {
    height: 445px;
    margin-top: 30px;
}
.box-left,
.box-center,
.box-right {
    height: 100%;
    width: calc(100% / 3);
}
.box-center {
    padding: 30px;
    background-color: #F5F5F5;
}
.box-center img {
    height: 60px;
}
.box-center p {
    margin-bottom: 30px;
}
.minibox-left,
.minibox-right {
    height: 100%;
    width: 50%;
}
.minibox-top,
.minibox-bottom {
    position: relative;
    height: 50%;
}
/* center client*/
.box-left img,
.box-right img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Color Client */
#designit{background-color: #A2D39B;}
#florida{background-color: #0093CE;}
#arizona{background-color: #61082B;}
#topps{background-color: #FF1C1C;}
#bicycle{background-color: #D5001F;}
#planet{background-color: #0D2481;}
#hearst{background-color: #B4D0E7;}
#clear{background-color: #FFD830;}


/* Trial Free */
.trial-free-section {
    background-color: #B4D0E7;
    padding-top: 25px;
}
.trial-free {
    padding: 50px 0;
    height: 200px;
}
.trial-free .col-w100-left {
    padding-right: 80px;
    color: #61082B;
}
.trial-free .btn {
    margin: 5px;
    color: black;
    background-color: white;
}
/* Frequent Questions */
.questions {
    margin-top: 80px;
}
.questions hr {
    width: 100%;
}
.question-sharp {
    justify-content: space-between;
}
.question-sharp i {
    margin-right: 25px;
    font-size: 10px;
}
/* Footer */
footer {
    min-height: 200px;
    background-color: #000;
    margin-top: 80px;
    color: white;
    padding-top: 60px;
}
footer hr {
    width: 10%;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 25px;
}
.footer {
    min-height: 200px;
}
.col-footer {
    height: 100%;
    width: calc(100% / 5);
}
.footer-down i {
    margin-right: 5px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 12px;
}
.footer-down p {
    font-size: 12px;
    margin-right: 5px;
    line-height: 12px;
}

 