/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
.flex {
    display: flex;
}
.container-wdt-70,
.container-wdt-60 {
    /* height: 100%;  */
    margin: 0 auto;
}
.container-wdt-70 {
    width: 70%;
}
.container-wdt-60 {
    width: 60%;
}



/* Header */
header {
    background-color: #B4D0E7;
}
.header-top {
    min-height: 50px;
    background-color: #fff;
    justify-content: space-between;
}
.hdr-top-left,
.hdr-top-right {
    height: 50px;
    min-width: 30%;
    border: 1px dashed black;
}
.header-bottom {
    min-height: 500px;
}
.hdr-btm-top {
    height: 200px;
    border: 1px dashed black;
}
.hdr-btm-left {
    height: 300px;
    width: 35%;
    border: 1px dashed black;
}
.hdr-btm-right {
    height: 300px;
    width: 65%;
    border: 1px dashed black;
}

/* Main */
.main {
    padding-top: 60px;
}
.main-top,
.main-bottom {
    min-height: 800px;
    border: 1px dashed black;
}

/* Main Top*/
.title-main {
    min-height: 80px;
    border: 1px dashed black;
}
.imput-main {
    min-height: 20px;
    border: 1px dashed black;
}

/* Colum */
.colum-top,
.colum-bottom {
    min-height: 200px;
    gap: 15px;
    margin: 15px 0;    
}
.col {
    min-height: 400px;
    width: calc(100% / 3);
    border: 1px dashed black;
}
.colum-bottom {
    min-height: 100px;
    width: 100%;
    border: 1px dashed black;
}
.header-col {
    min-height: 20px;
    width: 100%;
    border: 1px dashed black;
}
/* Colum Bottom */
.img-col {
    min-height: 120px;
    border: 1px dashed blue;
}
.heading {
    padding: 20px 0;
}


/*Content*/
.content {
    min-height: 250px;
    border: 1px dashed red;
}
.cont-left,
.cont-right {
    height: 250px;
    width: 50%;
    border: 1px dashed black;
}

/* Clients */
.client-box {
    height: 160px;
    border: 1px dashed black;
    margin-top: 30px;
}
.box-left,
.box-center,
.box-right {
    height: 100%;
    width: calc(100% / 3);
    border: 1px dashed black;
}
.minibox-left,
.minibox-right {
    height: 100%;
    width: 50%;
    /* border: 1px dashed black; */
}
.minibox-top,
.minibox-bottom {
    background-color: aquamarine;
    height: 50%;
    border: 1px dashed black;
}

/* Trial Free */
.trial-free {
    height: 100px;
    border: 1px dashed black;
}

/* Frequent Questions */
.questions {
    height: 200px;
    border: 1px dashed black;
}

/* Footer */
footer {
    background-color: #000;
}
.footer {
    height: 180px;
    border: 1px dashed rgb(255, 0, 0);
}
.col-footer {
    height: 100%;
    width: calc(100% / 5);
    border: 1px dashed rgb(255, 0, 0);
}